<div class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-light vh-100" style="width: 250px;">
    <div class="ps-3">
        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none p-2">
            <span class="fs-5">Browse by category:</span>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="container p-2">
                <a href="/posts" class="sidebar-item">All</a>
            </li>
            <li class="container p-2">
                <a href="/posts/categories/FPS" class="sidebar-item">FPS</a>
            </li>
            <li class="container p-2">
                <a href="/posts/categories/Base Building" class="sidebar-item">Base Building</a>
            </li>
            <li class="container p-2">
                <a href="/posts/categories/Racing" class="sidebar-item">Racing</a>
            </li>
            <li class="container p-2">
                <a href="/posts/categories/Strategy" class="sidebar-item">Strategy</a>
            </li>
            <li class="container p-2">
                <a href="/posts/categories/Sports" class="sidebar-item">Sports</a>
            </li>
        </ul>
    </div>
    
    <!-- <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div> -->
</div>