<% layout('/layouts/boilerplate') %>
<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8 border">
			<h1><%=post.title%></h1>
			<img src="<%=post.image_url%>" class="img-fluid" />
			<p><%=post.content%></p>
		</div>
		<div class="col-2"></div>
	</div>
</div>